<% comments.each do |comment| %>
    <tr>
        <td><%= comment.body %></td>
        <td><%= comment.user.name %></td>
        <td>
            <% if comment.user == current_user %>
            <%= link_to "Destroy", book_comment_path(@book,comment), method: :delete, class: "btn-sm btn-danger", remote: true %>
            <% end %>
        </td>
    </tr>
<% end %>